body {
  align-items: center;
  background-image: radial-gradient(#464fbd, #821584, #8c3333);
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  min-height: 97vh;
  min-width: 94vw;
}

#header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  transition: 4s;
  width: 100%;
}

#title {
  color: #7d37fd;
  font-size: 30px;
  letter-spacing: 20px;
  padding-left: 15px;
}

#personal-links-container {
  display: flex;
  font-size: 30px;
  padding-right: 15px;
}

p {
  margin: 10;
}

i {
  color: purple;
  transition: 0.3s;
}

i:hover {
  color: red;
}

#controls {
  background-color: rgb(183, 84, 192);
}

ul {
  list-style: outside;
}

button,
.file-input-container {
  background-color: inherit;
  color: aliceblue;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  height: 40px;
  outline: none;
  text-align: center;
  transition: 0.4s;
  vertical-align: middle;
  width: 140px;
}

#button-2:hover {
  background-color: rgb(255, 0, 0);
}

#button-3:hover {
  background-color: rgb(167, 19, 19);
}

#button-4:hover {
  background-color: rgb(150, 0, 87);
}

#button-5:hover {
  background-color: rgb(128, 0, 128);
}

#button-0:hover {
  background-color: rgb(155, 0, 202);
}

#button-1:hover {
  background-color: rgb(90, 0, 235);
}

.file-input:hover {
  background-color: rgb(45, 0, 129);
}

#controls {
  display: flex;
}

#file-input-label {
  cursor: pointer;
}

#utilities {
  display: flex;
  bottom: 0px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
}

#info-link {
  cursor: pointer;
}

.modal-container {
  position: relative;
  background-color: rgba(240, 248, 255, 0.95);
  color: #000000;
  margin: auto auto 15vh auto;
  padding: 20px;
  border: solid 2px rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 730px;
  border-radius: 24px;
  cursor: initial;
}

#modal {
  position: absolute;
  top: 125px;
}

#modal a,
#modal a:visited {
  color: red;
  transition: 0.4s;
}

#modal a:hover {
  color: purple;
}

#close-modal {
  position: absolute;
  font-size: 36px;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}

.track-name {
  align-items: center;
  background-color: aliceblue;
  display: flex;
  padding-left: 15px;
  width: 100%;
}

#track-name {
  color: red;
  text-align: center;
}
